body, ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

body {
  margin-bottom: 10vw;
}

a {
  text-decoration: none;
}
h1 {
  text-align: center;
  margin-top: 1vw;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  background: #1d1e20;
  display: flex;
  justify-content: space-between;
  padding: 5vw;
  align-items: center;
  flex-wrap: wrap;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 1vw;
}

.menu li a {
  display: block;
  padding: 1vw;
  background: #fff;
}

/* CCS FLEX BOX 1 */

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
}

.flex > div  {
  flex: 1 1 20vw;
  margin: 2vw;
}

/* css grid 1  */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 90%;
  padding: 1vw;
  margin: 0 auto;
  grid-gap: 2vw;
}

.grid > div:nth-child(n +4) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: blue;
  grid-gap: 2vw;
  align-items: center;
}

.grid > div.anuncio {
  grid-column: 1;
  grid-row: 2 / 5;
  border-top: 1vw solid tomato;
  display: block;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .grid > div:nth-child(n +4) {
    display: block;
  }
  .grid > div.anuncio {
    grid-column: auto;
    grid-row: auto;
    order: -1;
  }
}

/* CSS GRID 2  */

.grid2 {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 20px;
  padding: 10px;
  margin: 0 auto;
}

.sidebar > div {
  margin-bottom: 10px;
}

@media (max-width: 608px) {
  .grid2 {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: flex;
    overflow: scroll;
  }
  .sidebar > div {
    flex: 1 1 200px;
    margin: 0 10px;
  }
}
