.container {
  width: 100vw;
  height: 100vh;
  background: #6C7A89;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}
.box {
  width: 80vw;
  height: 90vh;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
body {
  margin: 0px;
}
input:invalid {
  border: red solid 3px;
}
div[id^=form] {
  margin-left: 15%;
  margin-top: 15%;
}
h1 {
  font-size: 30px;
}
label {
  font-size: 20px;
}
